@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
.nav-header {
    background-color: #091A39;
    height: 70px;
    box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.2), 0px 17px 26px rgba(0, 0, 0, 0.14), 0px 6px 32px rgba(0, 0, 0, 0.12);

    display: flex;
    align-items: center;

    position: absolute;
    z-index: 100;
    width: 100%;
}
.nav-header a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.nav-header img {
    margin: 20px;
}
.links-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-left: 2rem;
}
.actual-link-header {
    border-bottom: 1px solid rgb(111, 112, 112);
}
@media(max-width:744px){
    .links-header {
        display: none;
    }
    .nav-header {
        flex-direction: row-reverse;
        padding: 1rem;
    }
}