@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@media (min-width: 1000px) and (max-width: 3000px) {
    .cards-container {
        flex-direction: row!important;
        flex-wrap: wrap;
    }
    .service-card {
        width: 70%!important;
        padding: 40px!important;
    }

    .cards-container .service-card img {
        width: 6rem;
    }
    .cards-container .service-title {
        font-size: 1.8rem;
    }
    .cards-container .service-description {
        font-size: 1.2rem;
    }
}

.wrapper {
    background: #091A39;
    background-image: url(../../img/bg-logistica.png);
    background-size: contain;
}

.home-back {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-icon {
    width: 4rem;
    padding: 10px;
}

.ours-services-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 40px;
}
.ours-services-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;

    color: #EEEEEE;
}

.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service-card {
    display: flex;
    align-items: center;

    background: #F2F2F2;
    border-radius: 8px;

    padding: 20px;
    margin: 30px 15px;

    width: 90%;
}
.reverse{
    flex-direction: row-reverse;
}
.service-card img {
    width: 5rem;
    margin-right: 10px;
}
.service-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;

    color: #09152C;
}
.service-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .7rem;
}